* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5fe;
}

#flex-container {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-top: 3%;
}

#main-container,
#enemy-container {
  display: grid;
  width: 700px;
  height: 700px;
  margin: 2rem auto;
  gap: 2px;
  padding-top: 10px;
}

.grid-item {
  width: 50px;
  height: 50px;
  background-color: #ccc;
  border: 1px solid #888;
}

.grid-item:hover {
  background-color: #ddd;
  cursor: crosshair;
}

#ship-container {
  display: flex;
  justify-content: center;
  border-style: solid;
  height: 100px;
}

.ship {
  display: flex;
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 22% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.ship-input-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

form#form-ship {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

label {
  margin-bottom: 5px;
}

input[type='text'] {
  padding: 5px;
  margin-bottom: 5px;
}

input[type='radio'] {
  margin-right: 5px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-right: -91px;
}

.btn-container button {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-container button:hover {
  background-color: #45a049;
}

#win-title {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  position: fixed;
  right: 45.6%;
}

#main-container {
  background-color: transparent;
}

.title-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-title,
.cpu-title {
  margin-right: 170px;
  color: #800080;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.modal-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ship-input-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input[type='text'] {
  padding: 5px;
  margin-bottom: 5px;
  width: 200px;
}

.btn-flex {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#myBtn,
#reset-btn,
#submit-btn,
#random-btn {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  background-color: #f44336;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

#myBtn:hover,
#reset-btn:hover,
#submit-btn:hover,
#random-btn:hover {
  background-color: #d32f2f;
}

#myBtn {
  background-color: #008cba;
}
#myBtn:hover {
  background-color: #00608f;
}
#reset-btn {
  background-color: #f44336;
}

.modal-content {
  background-color: #fefefe;
  margin: 22% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  animation-name: fade;
  animation-duration: 0.5s;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.ship-input-flex {
  display: flex;
  flex-direction: column;
}

form#form-ship {
  display: flex;
  justify-content: space-around;
}

label {
  margin-bottom: 5px;
}

input[type='text'] {
  padding: 5px;
  margin-bottom: 5px;
}

input[type='radio'] {
  margin-right: 5px;
}

.btn-flex {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button#submit-btn,
button#random-btn {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button#submit-btn:hover,
button#random-btn:hover {
  background-color: #45a049;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: fade;
  animation-duration: 0.5s;
}

.ship-input-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input[type='text'] {
  padding: 5px;
  margin-bottom: 5px;
  width: 200px;
}

.btn-flex {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button#submit-btn,
button#random-btn {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button#submit-btn:hover,
button#random-btn:hover {
  background-color: #45a049;
}

#flex-container {
  display: flex;
  justify-content: center;
}

#main-container {
  margin-left: auto;
  margin-right: auto;
}
